language: python
python:
  - 2.6
  - 2.7
before_install:
  - git submodule update --init --recursive
install:
  - pip install -r requirements.txt --use-mirrors
script: nosetests
notifications:
  email:
    on_failure: change
pip: cache
sudo: false
